body
{
    background-image: url("img/bliss.jpg");
    background-size: 100%;
    font-family: Tahoma;
}

/*.main-window
{
    position: relative;
    width: 400px;
    height: 360px;
    border: 1px solid #003c74;
    background: linear-gradient(to bottom, #ece9d8, #e4e1d0);
    margin: 100px auto 0;
    border-radius: 2px 2px 0 0;
    box-shadow:
        -1px -1px 0 1px #0469EC,*/ /* Голубая полоса между рамками */
/*0 0 0 3px #003c74,*/ /* Внутренняя синяя рамка */
/*0 0 0 1px rgba(0,0,0,0.3),*/ /* Внешняя тень */
/*inset 0 0 2px 2px rgba(255,255,255,0.7),*/ /* Внутреннее свечение */
/*inset 0 0 3px 3px rgba(255,255,255,0.5);*/ /* Внутренняя белая тень */
/*}*/
.main-window
{
    position: relative;
    width: 400px;
    height: 360px;
    /*border: 1px solid;*/
    background: linear-gradient(to bottom, #ece9d8, #e4e1d0);
    margin: 100px auto 0;
    border-radius: 2px 2px 0 0;
    /*box-shadow:*/
        /*-1px -1px 0 1px #0469EC,*/ /* Голубая полоса между рамками */
    /*0 0 0 3px #003c74,*/ /* Внутренняя синяя рамка */
    /*0 0 0 1px rgba(0,0,0,0.3),*/ /* Внешняя тень */
    /*inset 0 0 2px 2px rgba(255,255,255,0.7),*/  /*Внутреннее свечение */
    /*inset 0 0 3px 3px rgba(255,255,255,0.5);*/ /* Внутренняя белая тень */
}

#app-icon
{
    width: 24px;
    height: 24px;
}

/*.title-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: white;
    margin:-3px;
    background-image: linear-gradient(#77CCFF, #0469EC, #0469EC,#0469EC, #0569FF,#0569FF,#0569FF);
    box-shadow: 
        inset 0px 0px 4px 1px #002195, 
        0 1px 0 0 #003c74,*/ /* Нижняя синяя граница */
/*0 1px 0 0 #0469EC;*/ /* Верхняя голубая граница */
/*border-radius: 4px 4px 0 0; 
}*/
.title-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: white;
    background-image: linear-gradient(#77CCFF, #0469EC, #0469EC,#0469EC, #0569FF,#0569FF,#0569FF);
    border-radius: 2px 2px 0 0;
    box-shadow: inset 0px 0px 4px 1px #002195;
}

.title-bar-left-side
{
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 0px darkblue;
}

.control-button, .control-button:disabled, .control-button:disabled:hover
{
    width: 28px;
    height: 28px;
    border: solid 1px white;
    border-radius: 5px;
    margin: 0px;
    text-align: center;
    padding: -15px;
    background-image: linear-gradient(to bottom right, #55A1FF, #0025B5);
    box-shadow: inset 3px 1px 3px 0px #77A1F5;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#close-button
{
    background-image: linear-gradient(to bottom right, #C97475, #FF3010);
    box-shadow: inset 3px 1px 3px 1px #C49A9B;
}

.control-button:hover
{
    background-image: linear-gradient(to bottom right, #75C1FF, #2045D5);
    box-shadow: inset 0px 0px 3px 3px #77A1F5;
}

#close-button:hover
{
    background-image: linear-gradient(to bottom right, #D98485, #FF3020);
    box-shadow: inset 0px 0px 3px 3px #C49A9B;
}
.control-button:active
{
    background-image: linear-gradient(to bottom right, #55A1CF, #0025B5);
    box-shadow: inset 0px 0px 3px 3px #5781F5;
}

.control-button:disabled, .control-button:disabled:hover
{
    color: lightgray;
    border-color: lightgrey;
}

.client-rect
{
    width: auto;
    height: 317px;
    display:block;
}

#main-area
{
    display: flex;
    justify-content: space-between;
}
#bottom-border
{
    width: 100%;
    height: 5px;
    background-color: darkblue;
    background-image: linear-gradient(to right,/*#001177CC,*/#003377FF,#001177CC);
}
#left-border
{
    width: 5px;
    height: 317px;
    /*background-color: darkblue;*/
    background-image: linear-gradient(to right,#0022BBFF,#0469EC,#0022BBFF);
}
#right-border
{
    width: 5px;
    height: 317px;
    /*background-color: darkblue;*/
    background-image: linear-gradient(to right,#001177CC,#003377FF,#001177CC);
}
#work-area
{
    width:95%;
    display:block;
}
.menu-bar, .display, .buttons
{
    width: 100%
}
.menu-bar
{
    display:flex;
    justify-content:left;
}
    .menu-bar > button
    /*Для всех "button", вложенных в menu-bar*/
    {
        width: 50px;
        height: 22px;
        margin: 1px;
        border: none;
        background: linear-gradient(to bottom, #ece9d8, #e4e1d0);
    }
    .menu-bar > button:hover
    {
        box-shadow:1px 1px 0 0 grey;
        background: rgb(245,242,225);
    }
    .menu-bar > button:active
    {
        box-shadow: inset 1px 1px 0 0 grey;
        background: rgb(266, 223, 206);
    }
    
#text
{
    width:98%;
}
input[type=text]
{
    text-align:right;
}
